{% extends 'base.html' %}

{% block header %}

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="{% url 'Index' %}">XYZ</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Signup' %}">Signup</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'About' %}">About</a>
      </li>
    </ul>
  </nav>

{% endblock header %}



{% block content %}

<div class="container p-3 my-3 bg-dark text-white">
    <h2>SignUp To XYZ</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <button type="submit" class="btn btn-success" value="Signup">SignUp</button>

    </form>
</div>

{% endblock content %}